<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>JBlog</title>
    <link rel="stylesheet" th:href="@{/assets/css/jblog.css}">
</head>
<body>
    <sec:authorize access="isAuthenticated()">
        <div id="container" th:with="user=${#authentication.getPrincipal()}">
            <th:block th:replace="includes/blog-header :: blog-header"></th:block>
            <div id="wrapper">
                <div id="content" class="full-screen">
                    <ul class="admin-menu">
                        <li><a th:href="@{'/' + ${user.id} + '/admin/basic'}">기본설정</a></li>
                        <li><a th:href="@{'/' + ${user.id} + '/admin/category'}">카테고리</a></li>
                        <li class="selected">글작성</li>
                    </ul>
                    <form th:action="@{'/' + ${user.id} + '/admin/write'}" th:object="${postVo}" method="post">
                        <table class="admin-cat-write">
                            <tr>
                                <td class="t">제목</td>
                                <td>
                                    <input type="text" th:field="*{title}" size="60" />
                                    <select th:field="*{categoryNo}">
                                        <option th:each="category : ${list}" 
                                                th:value="${category.no}" 
                                                th:text="${category.name}">
                                        </option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td class="t">내용</td>
                                <td><textarea th:field="*{contents}"></textarea></td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                                <td class="s"><input type="submit" value="포스트하기"></td>
                            </tr>
                        </table>
                    </form>
                </div>
            </div>
            <th:block th:replace="includes/blog-footer :: blog-footer"></th:block>
        </div>
    </sec:authorize>
</body>
</html>