<div id="header">
    <h1 th:text="${blogVo.title}"></h1>
    <ul>
        <li th:if="${!#authorization.expression('isAuthenticated()')}">
            <a th:href="@{/user/login}">로그인</a>
        </li>
        <li th:if="${#authorization.expression('isAuthenticated()')}">
            <a th:href="@{/user/logout}">로그아웃</a>
        </li>
        <li th:if="${#authorization.expression('isAuthenticated()')}" th:unless="${user.id != blogVo.id}">
            <a th:href="@{/{user.id}/admin/basic}">블로그 관리</a>
        </li>
    </ul>
</div>